.row-container {
    display: flex;
    background-color: rgb(158, 220, 255);
}

.col {
    flex: 1;
    border: 1px solid rgb(71, 209, 255);
    height: 50px;
    background-color: rgb(168, 233, 250);
}

.row {
    width: 50px;
}

.button {
    margin: 20px;
    padding: 10px;
    background-color: rgb(71, 209, 255);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}